h1, h2 {
  font-family: Lato;
}
.container{width: 60%; margin: auto; text-align: center;}

button{padding: 15px 30px; border: 2px solid black; outline: none; 
color: black; background-color: white; font-size: 22px;
font-weight: bold; cursor: pointer; border-radius: 30px;}
button:hover{
  background-color: black;
  color: white;
  transition: 0.5s ease-in-out;
}
#box{height: 400px; width: 300px; background-color: white ; margin: auto;
border: 2px solid black; border-radius: 30px; line-height: 400px;
margin-top: 40px; text-align: center; font-weight: bolder;}